@{
    Layout = null;
}

@model GuestPref

<p>Hello guest</p>

<p>Room: @Model.Room</p>
<p>Beds: @Model.Beds</p>
<p>Pool: @Model.Pool</p>
<p>Internet: @Model.Internet</p>

<form asp-controller="Home" asp-action="pref" method="post">
    <p>Room: <input asp-for="Room" /></p>
    <p>Beds: <input asp-for="Beds" /></p>
    <p>Pool: <input asp-for="Pool" /></p>
    <p>Internet: <input asp-for="Internet" /></p>
    
    <button type="submit">Submit</button>
</form>

<a href="/home/index">Home page in html</a>

<a href="/home/contact">Contacts</a>

<p>

</p>
<a asp-controller="Home"
   asp-action="Index"
   asp-route-id="12">
    Home page
</a>

<a asp-controller="Home"
   asp-action="contact"
   asp-route-id="13">
    Contacts
</a>